@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.font-color-g-dark1 {
  color: #534f4f;
}

.font-color-g-dark2 {
  color: #687979;
}

.font-color-g-dark3 {
  color: #3f4949;
}

.font-color-g-light1 {
  color: #e7f0ec;
}

.font-color-g-light2 {
  color: #b2c0bb;
}

.font-color-g-light3 {
  color: #9ca8a3;
}

html, body {
  background-color: #14201e;
  color: #534f4f;
}

.container {
  display: inline-block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card {
  background-color: #293130;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px;
}

.card-img-top {
  width: 100%;
  height: 31.57895%;
  background-color: #d6ddda;
}

.card-body {
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-title {
  margin: 0 5px;
  font-size: 22px;
  font-weight: 700;
}

.card-subtitle {
  margin: 5px 5px;
  font-size: 16px;
}

.card-text {
  margin: 10px 5px;
}

.card-text > p {
  margin: 0;
  font-size: 17px;
  line-height: 1.6em;
  margin-bottom: 5px;
}

.card-tag {
  margin: 25px 10px 5px 10px;
  text-align: right;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-tag p {
  display: inline-block;
  padding: 5px 16px;
  margin-left: 8px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 7px;
  background-color: #d6ddda;
  color: #3f4949;
  opacity: 0.7;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

html,
body {
  letter-spacing: 0.07em;
  line-height: 1.8em;
  font-family: 'Maven Pro','Noto Sans CJK TC', sans-serif;
  -webkit-animation: FadeIn 0.3s;
          animation: FadeIn 0.3s;
}

h1, h2, h3, p {
  font-family: 'Maven Pro','Noto Sans CJK TC', '微軟正黑體', sans-serif;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app .view-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.neumorphism-normal-out {
  border-radius: 18px;
  background: #dde6ea;
  -webkit-box-shadow: 5px 5px 10px #bec6c9, -5px -5px 10px #edf1f1;
          box-shadow: 5px 5px 10px #bec6c9, -5px -5px 10px #edf1f1;
}

.neumorphism-normal-in {
  border-radius: 18px;
  background: #dde6ea;
  -webkit-box-shadow: inset 5px 5px 10px #bec6c9, inset -5px -5px 10px #edf1f1;
          box-shadow: inset 5px 5px 10px #bec6c9, inset -5px -5px 10px #edf1f1;
}

.neumorphism-lite-out {
  border-radius: 18px;
  background: #dde6ea;
  -webkit-box-shadow: 5px 5px 10px rgba(190, 198, 201, 0.5), -5px -5px 10px rgba(237, 241, 241, 0.5);
          box-shadow: 5px 5px 10px rgba(190, 198, 201, 0.5), -5px -5px 10px rgba(237, 241, 241, 0.5);
}

.neumorphism-lite-in {
  border-radius: 18px;
  background: #dde6ea;
  -webkit-box-shadow: inset 5px 5px 10px rgba(190, 198, 201, 0.5), inset -5px -5px 10px rgba(237, 241, 241, 0.5);
          box-shadow: inset 5px 5px 10px rgba(190, 198, 201, 0.5), inset -5px -5px 10px rgba(237, 241, 241, 0.5);
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  background-color: #14201e;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.top-content .container {
  position: relative;
  width: auto;
}

.top-content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-content .author-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px;
}

.top-content .author-picture-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: margin-top 0.4s;
  transition: margin-top 0.4s;
}

.top-content .author-picture-content img {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  -webkit-transition: margin-top 0.4s;
  transition: margin-top 0.4s;
}

.top-content .author-picture-content-egg {
  margin-top: -150px;
}

.top-content .author-title {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 20px;
  margin-right: -20px;
}

.top-content .author-subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}

.top-content .author .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-content .author .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  padding-right: 15px;
  height: 50px;
}

.top-content .author .info-item-img, .top-content .author .info-item svg {
  width: 24px;
  height: 24px;
  padding: 16px;
  opacity: 0.3;
}

.top-content .author .info-item-p {
  margin: 0;
}

.page-content {
  background-color: #14201e;
  -webkit-transition-property: padding;
  transition-property: padding;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.page-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 20px;
}

.page-content .container .page-container {
  display: inline-block;
  text-align: center;
  width: auto;
  border-radius: 35px;
  height: 70px;
}

.page-content .container .page-container .page-item {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-left-style: none;
  border-right-style: none;
  border-radius: 28px;
  margin: 5px;
  background-color: rgba(73, 158, 148, 0.1);
  -webkit-transition-property: background-color, width, -webkit-transform;
  transition-property: background-color, width, -webkit-transform;
  transition-property: background-color, transform, width;
  transition-property: background-color, transform, width, -webkit-transform;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in, ease-in, cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: ease-in, ease-in, cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.page-content .container .page-container .page-item .page-icon {
  opacity: 0.4;
  width: 26px;
  height: 26px;
  margin: 17px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.page-content .container .page-container .page-select {
  background-color: rgba(73, 158, 148, 0.3);
  color: #e7f0ec;
  width: 100px;
}

.page-content .container .page-container .page-select .page-icon {
  opacity: 1;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cards .card {
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition-property: padding, margin;
  transition-property: padding, margin;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.cards .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card-head .card-img-top {
  border-radius: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cards .card-head-text .card-title {
  line-height: 1.2em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cards .card-head-text .card-subtitle {
  display: inline-block;
  font-size: 16px;
  font-weight: 200;
}

.cards .card-text {
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.cards .card-text:last-child {
  margin-bottom: 35px;
}

.cards .card-text .gradient {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 100%;
  bottom: 35px;
  background: -webkit-gradient(linear, left bottom, left top, from(#293130), to(rgba(41, 49, 48, 0)));
  background: linear-gradient(bottom, #293130, rgba(41, 49, 48, 0));
  display: none;
}

.cards .card-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  height: 60px;
  margin-top: 20px;
  border-radius: 20px;
}

.cards .card-video {
  border-radius: 15px;
  margin: 20px 0;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-event-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-event-content .container .time-events {
  margin-left: 80px;
  margin-right: 20px;
  max-width: 600px;
}

.time-event-content .container .time-events .time-event-year {
  padding-top: 40px;
  position: relative;
}

.time-event-content .container .time-events .time-event-year-date {
  position: absolute;
  display: inline-block;
  width: 80px;
  top: 0;
  left: -39px;
  height: 40px;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.time-event-content .container .time-events .time-event-year-date h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: #b2c0bb;
}

.time-event-content .container .time-events .time-event-year .time-event {
  border-left: 2px rgba(214, 221, 218, 0.05) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-right: 10px;
  padding-top: 10px;
}

.time-event-content .container .time-events .time-event-year .time-event-dot {
  height: 100%;
  position: relative;
}

.time-event-content .container .time-events .time-event-year .time-event-dot-img {
  position: absolute;
  left: -6px;
  top: 26px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #499e94;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.time-event-content .container .time-events .time-event-year .time-event-date {
  position: absolute;
  display: inline-block;
  width: 80px;
  top: 20px;
  left: -80px;
  height: 40px;
  margin-left: -30px;
  text-align: right;
  margin-top: 0;
}

.time-event-content .container .time-events .time-event-year .time-event-date h2 {
  color: #e7f0ec;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

.time-event-content .container .time-events .time-event-year .time-event-date h3 {
  color: #9ca8a3;
  font-size: 16px;
  font-weight: 200;
  line-height: 40px;
}

.time-event-content .container .time-events .time-event-year .time-event-info {
  padding: 20px;
  margin-left: 30px;
  border-radius: 20px;
}

.time-event-content .container .time-events .time-event-year .time-event-info-title {
  color: #e7f0ec;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.8rem;
}

.time-event-content .container .time-events .time-event-year .time-event-info-text {
  color: #9ca8a3;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 200px;
  height: auto;
  overflow-y: auto;
  margin-bottom: 4px;
}

.top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0 40px 0;
}

.top-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 200px;
  border-style: none;
  cursor: pointer;
  border-radius: 20px;
  outline-style: none;
}

.top-btn button p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.top-btn button img {
  height: 24px;
  width: 24px;
}

.license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  padding: 20px 0 40px 0;
}

.license a {
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.cards {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}

.time-events {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14201e;
}

.loading .loading-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.loading .loading-body img {
  width: 150px;
  height: 150px;
  border-radius: 9999px;
  margin-bottom: -20px;
}

.loading .loading-body .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 10px;
  margin-top: -10px;
  border-radius: 9999px;
  background-color: #499e94;
  -webkit-animation: LoadingRound 1.3s infinite;
          animation: LoadingRound 1.3s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.loading .loading-body .round .round-inner {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  -webkit-animation: LoadingRound-inner 1.5s infinite;
          animation: LoadingRound-inner 1.5s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading .loading-body .round-l {
  height: 10px;
  border-radius: 9999px;
  background-color: rgba(73, 158, 148, 0.5);
  -webkit-animation: LoadingRound-l 1.3s infinite;
          animation: LoadingRound-l 1.3s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.loading .loading-body .loading-text {
  font-size: 20px;
  font-weight: 500;
  height: 80px;
  line-height: 80px;
  color: #499e94;
}

@-webkit-keyframes fadeInAndRotate {
  0% {
    -webkit-transform-origin: -100% 0%;
            transform-origin: -100% 0%;
    -webkit-transform: translateX(-30px) rotate(1deg);
            transform: translateX(-30px) rotate(1deg);
  }
  100% {
    -webkit-transform-origin: -100% 0%;
            transform-origin: -100% 0%;
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

@keyframes fadeInAndRotate {
  0% {
    -webkit-transform-origin: -100% 0%;
            transform-origin: -100% 0%;
    -webkit-transform: translateX(-30px) rotate(1deg);
            transform: translateX(-30px) rotate(1deg);
  }
  100% {
    -webkit-transform-origin: -100% 0%;
            transform-origin: -100% 0%;
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes PunchScale {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes PunchScale {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes LoadingRound {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes LoadingRound {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes LoadingRound-l {
  0% {
    width: 0;
    margin-left: 0;
    margin-right: 100px;
    opacity: 1;
  }
  50% {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
  }
  50.1% {
    width: 0;
    margin-left: 100px;
    margin-right: 0;
    opacity: 1;
  }
  100% {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
  }
}

@keyframes LoadingRound-l {
  0% {
    width: 0;
    margin-left: 0;
    margin-right: 100px;
    opacity: 1;
  }
  50% {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
  }
  50.1% {
    width: 0;
    margin-left: 100px;
    margin-right: 0;
    opacity: 1;
  }
  100% {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
  }
}

@media (min-width: 1px) {
  .page-content {
    padding-bottom: 30px;
  }
  .row .col {
    width: 100%;
    max-width: 400px;
  }
  .cards .card-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 10px;
  }
  .cards .card-head .card-img-top {
    height: 80px;
    width: 80px;
  }
  .cards .card-head-text {
    text-align: center;
    width: 100%;
    margin: 30px 0 20px 0;
    padding-left: 0;
  }
  .cards .card-head-text .card-title {
    font-size: 28px;
  }
  .hoverable-btn {
    background-color: rgba(73, 158, 148, 0.5);
    color: #e7f0ec;
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .page-content {
    padding-bottom: 60px;
  }
  .row .col {
    width: 600px;
    max-width: 600px;
  }
  .cards .card {
    padding: 20px;
    margin: 30px;
  }
  .cards .card-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 30px;
  }
  .cards .card-head .card-img-top {
    height: 100px;
    width: 100px;
  }
  .cards .card-head-text {
    text-align: left;
    width: 100%;
    margin: 0;
    padding-left: 20px;
  }
  .cards .card-head-text .card-title {
    font-size: 32px;
  }
  .hoverable-btn {
    background-color: rgba(73, 158, 148, 0.15);
    color: #a4cfca;
    -webkit-transition: background-color, color;
    transition: background-color, color;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .hoverable-btn:hover {
    background-color: rgba(73, 158, 148, 0.5);
    color: #e7f0ec;
  }
}
/*# sourceMappingURL=main.css.map */