@import "reset";
@import "color";


html,
body {
    letter-spacing: 0.07em;
    line-height: 1.8em;
    background: url("pic/background.jpg");
}

.cards {
    padding-top: 24px;

    .card {
        margin:0;

        margin-bottom: 30px;
        border: 1px solid rgba(#000, 0.1);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 0 rgba(#000, 0);
        transform: scale(1.0001);
        
        transition: box-shadow 0.5s;
        transition: transform 0.4s;

        &:hover {
            box-shadow: 0 5px 10px rgba(#000, 0.15);
            transform: scale(1.02);
        }
        
        &-title{
            font-size: 20px;
            margin-bottom: 8px;
        }
        &-subtitle{
            font-size: 16px;
            font-weight: 200;
            margin-top: 10px;
            margin-bottom: 16px;
        }
        &-text{
            line-height: 1.5rem;
            display: flex;
            flex-direction: column;
            max-height: 200px;
            height: auto;
            overflow-y: auto;
            p{
                margin-bottom: 8px;
            }
        }
        &-btn{
            display: inline-block;
            width:100%;
            text-align: center;
            padding:20px;
            height: 70px;

            border-style: none;
            border-top-style: dashed;
            border-top-width: 1px;
            border-color: rgba(#000, 0.1);
            opacity: 0.8;

            transition: color 0.4s;
            transition: background-color 0.6s;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.topdiv {
    width: 100%;
    padding: 50px 0 70px 0;

    .author{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-picture{
            border-radius: 100%;
            overflow: hidden;
            margin: 20px;
            width: 150px;
            height: 150px;
            box-shadow:  rgba(#000, 0.1) 0 0 20px;

            img{
                width: 100%;
                height: 100%;
            }
        }

        &-title{
            margin-top: 20px;
            font-size:  30px;
            font-weight: 500;
            letter-spacing: 20px;
            margin-right: -20px;
        }
        &-subtitle{
            margin-top: 10px;
            margin-bottom: 30px;
            font-size:  20px;
            font-weight: 300;
        }
        &-content{
            margin-bottom: 20px;
            font-size:  1rem;
        }

        .info{
            display: flex;
            flex-direction: column;
            &-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: -20px;

                &-img{
                    width: 50px;
                    height: 50px;
                }
                &-p{
                    margin: 0;
                }
            }
        }
    }
}

//------------------------------

hr{
    margin: 50px 0;
    border-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.bottomdiv{
    text-align: center;
    padding:50px 0;
}

