.container{
	display: inline-block;
	margin: 0 auto;
	box-sizing: border-box;
	width: auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-items: flex-start;
}


.card {
	
	background-color: $card-background;
	box-sizing: border-box;
	margin: 20px;
	
	$word-margin: 5px;

	&-img-top{
		
		//display: none !important;
		
		//$card-window-border-radius: 30px;
		//border-radius: $card-window-border-radius - 5px;
		
		width: 100%;
		height: 100% / 19 * 6;
		background-color: $fill-g-light1;
	}

	&-body{
		margin: 20px;
		box-sizing: border-box;
	}

	&-title{
		margin: 0 $word-margin;
		font-size: 22px;
		font-weight: 700;
	}
	&-subtitle{
		margin: 5px $word-margin;
		font-size: 16px;
	}
	&-text{
		margin: 10px $word-margin;
	}
	&-text>p{
		margin: 0;
		font-size: 17px;
		line-height: 1.6em;
        margin-bottom: 5px;
	}	
	&-tag{
		margin: 25px 10px 5px 10px;
		text-align: right;
		height: auto;
		flex-grow: 1;
		p{
			display: inline-block;
			padding : 5px 16px;
			margin-left: 8px;
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			border-radius: 7px;
			background-color: $fill-g-light1;
			color: $font-g-dark3;
			opacity: 0.7;
        
		}
	}
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;

	&::before {
		display: block;
		content: "";
	}
	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
