
$main-color: #499e94;		//主色
$sub-main-color:#499e94;    //次主色

$background-color:#121414;	//背景色

$neumorphism-main-color: #dde6ea;
$neumorphism-light-color-1: #bec6c9;
$neumorphism-light-color-2: #edf1f1;
$neumorphism-line-color: rgba(#f8fafa, 0.05);

$font-g-dark1: #534f4f;		//文字深色(灰階)
$font-g-dark2: #687979;
$font-g-dark3: #3f4949;

$font-g-light1: #e7f0ec;	//文字淺色(灰階)
$font-g-light2: #b2c0bb;
$font-g-light3: #9ca8a3;

$font-m-dark1: $main-color * 0.8 + #000 * 0.2;		//文字深色(主色)
$font-m-light1: $main-color * 0.5 + #fff * 0.5;		//文字淺色(主色)


$fill-g-dark1: #534f4f;		//填充深色(灰階)
$fill-g-dark2: #6c6868;
$fill-g-dark3: #888888;

$fill-g-light1: #d6ddda;	//填充淺色(灰階)
$fill-g-light2: #b2c0bb;
$fill-g-light3: #9ca8a3;

$fill-m-dark1: $main-color;	//填充深色(主色)
$fill-m-light1: $main-color;//填充色(主色)

$fill-white: #ffffff;
$fill-black: #0b0b0b;

$card-background: rgba(#fff, 0.04);

.font-color-g-dark{
    &1{ color: $font-g-dark1; }
    &2{ color: $font-g-dark2; }
    &3{ color: $font-g-dark3; }
}
.font-color-g-light{
    &1{ color: $font-g-light1; }
    &2{ color: $font-g-light2; }
    &3{ color: $font-g-light3; }
}

html, body{
    background-color: $background-color;
    color: $font-g-dark1;
}



