@charset "utf-8";

@import "reset";
@import "color";
@import "base";

@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

@mixin prefix_value($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{$property}: -#{$prefix}-$value;
	}
	#{$property}: $value;
}

$time-event-dot-r: 10px;
$time-event-dot-color:$main-color;
$time-event-dot-space-left: 80px;
$time-event-dot-space-right: 30px;
$time-event-info-padding: 20px;
$time-event-space-right: 20px;
$time-event-main-color: rgba($fill-g-light1, 0.3);
$time-event-main-line-color: rgba($fill-g-light1, 0.05);
$time-event-main-line-width: 2px;
$time-event-main-line: $time-event-main-line-width $time-event-main-line-color solid;
$time-event-max-width: 600px;

html,
body {
	letter-spacing: 0.07em;
	line-height: 1.8em;
	font-family: 'Maven Pro','Noto Sans CJK TC', sans-serif;

	animation: FadeIn 0.3s;
}

h1, h2, h3, p{
	font-family: 'Maven Pro','Noto Sans CJK TC', '微軟正黑體', sans-serif;
}

[v-cloak]{
	display: none;
}

#app{

	display: flex;
	flex-direction: column;

	.view-content {
		flex-grow: 1;
	}

}

.neumorphism{

	@mixin neum-out($alpha){
		border-radius: 18px;
		background: #dde6ea;
		box-shadow: 5px 5px 10px rgba($neumorphism-light-color-1, $alpha),
					-5px -5px 10px rgba($neumorphism-light-color-2, $alpha);
	}
	@mixin neum-in($alpha){
		border-radius: 18px;
		background: #dde6ea;
		box-shadow: inset 5px 5px 10px rgba($neumorphism-light-color-1, $alpha),
					inset -5px -5px 10px rgba($neumorphism-light-color-2, $alpha);
	}


	&-normal {

		&-out{
			@include neum-out(1);
		}
		&-in{
			@include neum-in(1);
		}
	}

	&-lite {

		&-out{
			@include neum-out(0.5);
		}
		&-in{
			@include neum-in(0.5);
		}
	}

}

.top-content {

	display: flex;
	flex-shrink: 0;
	justify-content: center;
	padding: 50px 0 ;
	background-color: $background-color;

	transition: width 0.4s;
	
	.container{
		position: relative;
		width: auto;
	}
	.author {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-picture {

			$picture-size: 150px;
			width: $picture-size;
			height: $picture-size ;

			border-radius: 100%;
			overflow: hidden;
			margin: 20px;
			
			//box-shadow: rgba(#000, 0.1) 0 0 20px;

			&-content {
				display: flex;
				flex-direction: column;
				transition: margin-top 0.4s;

				img {
					width: $picture-size;
					height: $picture-size;
					border-radius: 9999px;

					transition: margin-top 0.4s;
				}	
			}

			&-content-egg {
				margin-top: -$picture-size;
			}
		}

		&-title {
			margin-top: 20px;
			font-size: 40px;
			font-weight: 500;
			letter-spacing: 20px;
			margin-right: -20px;
		}
		&-subtitle {
			margin-top: 20px;
			margin-bottom: 30px;
			font-size: 20px;
			font-weight: 300;
		}

		.info {
			display: flex;
			flex-direction: column;
			&-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-left: -20px;
				margin-right: -20px;
				padding-right: 15px;
				height: 50px;

				&-img, svg {
					$size: 24px;
					width: $size;
					height: $size;
					padding: 40px - $size;

					opacity: 0.3;
				}
				&-p {
					margin: 0;
				}
			}
		}
	}
}

.page-content {

	background-color: $background-color;

	transition-property: padding;
	transition-duration: 0.4s;

	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-shrink: 1;
		flex-grow: 0;
		padding: 0 20px;

		$page-item-line: 1px rgba($fill-g-dark1, 0.2) solid;

		$page-radius: 28px;

		.page-container {
			$btn-height: 60px;

			display: inline-block;
			text-align: center;
			width: auto;
			//background-color: rgba($fill-m-light1, 0.2);

			border-radius: ($btn-height + 10px) / 2;
			height: $btn-height + 10px;

			.page-item {
				cursor: pointer;
				display: inline-block;
				height: $btn-height;
				width: $btn-height;
				line-height: $btn-height;
				text-align: center;
				border-left-style: none;
				border-right-style: none;
				border-radius: $page-radius;
				margin: 5px;

				background-color: rgba($fill-m-light1, 0.1);
				box-shadow: 0 0 0 0px rgba($main-color, 0);

				transition-property: background-color, transform, width, box-shadow;
				transition-duration: 0.3s, 0.3s, 0.3s, 0.5s;
				transition-timing-function: ease-in, ease-in, cubic-bezier(0.680, -0.550, 0.265, 1.550), ease;

		
		
				&:hover{		
					box-shadow: 0 0 0 4px rgba($main-color, 0.05);
				}

				.page-icon{
					$size: 26px;

					opacity: 0.4;
					width: $size;
					height: $size;

					margin: (60px - $size)/2;

					transition-property: opacity;
					transition-duration: 0.3s;
				}

			}

			.page-select {
				background-color: rgba($fill-m-light1, 0.3);
				color: $font-g-light1;
				width: 100px;

				.page-icon{
					opacity: 1;
				}
				
				&:hover{		
					box-shadow: 0 0 0 4px rgba($main-color, 0.2);
				}
			}
		}
	}
}

.cards {

	display: flex;
	flex-direction: column;
	align-content: center;

	.card {

		border-radius: 30px;
		overflow: hidden;
		box-sizing: content-box;

		
		transition-property: padding, margin;
		transition-duration: 0.4s;

		&-head{
			display: flex;
			align-items: center;

			.card-img-top{				
				border-radius: 26px;
				object-fit: cover;
				flex-grow: 0;
				flex-shrink: 0;
			}
			&-text{
				.card-title {
					line-height: 1.2em;
					flex-grow: 1;
					box-sizing: border-box;
				}
				
				.card-subtitle {
					display: inline-block;
					font-size: 16px;
					font-weight: 200;
				}
			}
		}

		&-text {
			line-height: 1.5rem;
			display: flex;
			flex-direction: column;
			overflow-y: hidden;
			&:last-child {
				margin-bottom: 35px;
			}
			
			.gradient {
				position: absolute;
				display: inline-block;
				height: 50px;
				width: 100%;
				bottom: 35px;

				@include prefix_value(background, linear-gradient(bottom, rgba($card-background,1), rgba($card-background,0)), ('webkit', 'moz'));

				display:none;
			}
		}
		&-btn {

			display: inline-block;
			box-sizing: border-box;
			text-align: center;
			width: 100%;
			padding: 15px 0;
			height: 60px;
			margin-top: 20px;
			border-radius: 20px;

		}

		&-video{
			border-radius: 15px;
			margin: 20px 0;
		}
	}
}

.card-content {
	display: flex;
	justify-content: center;

}

.time-event-content {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;


		$color_m: $fill-m-dark1;
		$color_g: $fill-g-dark3;
		$color_mix_value: 0.8;
		$color_mix: $color_m * $color_mix_value + $color_g * (1-$color_mix_value);



		.time-events {

			$dot-tri-top: 50px;

			display: flex;
			flex-direction: column-reverse;

			margin-left: $time-event-dot-space-left;
			margin-right: $time-event-space-right;

			max-width: $time-event-max-width;

			.time-event-year {

				$title-height: 40px;

				display: flex;
				flex-direction: column-reverse;

				padding-bottom: $title-height;
				position: relative;

				&-date {
					position: absolute;
					display: inline-block;
					width: $time-event-dot-space-left;
					bottom: 0;
					left: -$time-event-dot-space-left/2 +  $time-event-main-line-width/2;
					height: $title-height;
					margin-left: 0;
					margin-top: 0;
					text-align: center;
					box-sizing: border-box;

					h2 {
						font-size: 20px;
						font-weight: 700;
						line-height: $title-height;

						color: $font-g-light2;
					}
				}

				.time-event {

					border-left: $time-event-main-line;
					display: flex;
					flex-direction: row;
					position: relative;

					padding: 0;					

					&-dot {
						height: 100%;
						position: absolute;
						bottom: 0;

						&-img {
							position: absolute;
							left: - ($time-event-dot-r/2 + $time-event-main-line-width/2);
							bottom: $dot-tri-top + 6px;
							width: $time-event-dot-r;
							height: $time-event-dot-r;
							border-radius: 100%;
							background-color: $time-event-dot-color;
							transition: background-color 0.3s;
							transition: transform 0.2s;
						}
					}

					&-date {
						position: absolute;
						display: inline-block;
						width: $time-event-dot-space-left;
						bottom: $dot-tri-top - 10px;
						left: -$time-event-dot-space-left;
						height: 40px;
						margin-left: -$time-event-dot-space-right;
						text-align: right;
						margin-top: 0;

						h2 {
							color: $font-g-light1;
							font-size: 20px;
							font-weight: 700;
							line-height: 40px;
						}
						h3 {
							color: $font-g-light3;
							font-size: 16px;
							font-weight: 200;
							line-height: 40px;
							//opacity: 0.5;
						}
					}

					&-info {

						padding: $time-event-info-padding;
						margin-left: $time-event-dot-space-right;
						margin-bottom: 20px;

						border-radius: 20px;

						background-color: $card-background;

						&-title {
							color: $font-g-light1;
							font-size: 20px;
							margin-bottom: 12px;
							line-height: 1.8rem;
						}
						&-text {
							color: $font-g-light3;
							line-height: 1.5rem;
							display: flex;
							flex-direction: column;
							max-height: 200px;
							height: auto;
							overflow-y: auto;
							margin-bottom: 4px;
						}
					}
				}
			}
		}
	}
}

.top-btn{

	position: fixed;
	left: 20px;
	bottom: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0;

	button{

		display: flex;
		align-items: center;
		justify-content: center;

		height: 60px;
		width: 60px;

		border-style: none;
		cursor: pointer;
		border-radius: 999px;

		outline-style: none;

		p{
			width: 100%;
			text-align: center;
			font-size: 18px;
			font-weight: 600;			
		}

		img{
			$size: 24px;
			height: $size;
			width: $size;
		}

	}
}

.license{
	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0.5;
	padding: 20px 0 40px 0;

	a{
		text-decoration-line: none !important;
	}
}

.cards{
	animation: fadeIn 0.3s;
}
.time-events {
	animation: fadeIn 0.3s;
}

.hide{
	display: none;
}

.loading{

	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color;

	.loading-body{

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		padding-bottom: 100px;


		$round-height: 10px;
		img{
			$size: 150px;
			width: $size;
			height: $size;
			
			border-radius: 9999px;
			
			margin-bottom: -20px;
			//box-shadow: 0 0 10px rgba(#000,0.2);
		}
		
		.round{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: $round-height;
			height: $round-height;

			margin-top: -$round-height;

			border-radius: 9999px;
			background-color: $fill-m-light1;

			animation: LoadingRound 1.3s infinite;
			animation-timing-function: ease-in-out;

			.round-inner{
				width: $round-height;
				height: $round-height;
				border-radius: 9999px;

				animation: LoadingRound-inner 1.5s infinite;
				animation-delay: 0.5s;
			}
		}

		.round-l{
			height: $round-height;

			border-radius: 9999px;
			background-color: rgba($fill-m-light1,0.5);

			animation: LoadingRound-l 1.3s infinite;
			animation-timing-function: ease-in-out;
		}

		.loading-text{
			$height: 80px;
			font-size: 20px;
			font-weight: 500;
			height: $height;
			line-height: $height;
			color: $fill-m-dark1;
		}

	}
}

@keyframes fadeInAndRotate {
	0% {
		transform-origin: -100% 0%;
		transform: translateX(-30px) rotate(1deg);
	}
	100% {
		transform-origin: -100% 0%;
		transform: translateY(0) rotate(0deg);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes PunchScale {
	0% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes LoadingRound {
	0% {
		transform: translateX(-50px);
	}
	50% {
		transform: translateX(50px);
	}
	100% {
		transform: translateX(-50px);
	}
}
@keyframes LoadingRound-l {
	0% {
		width: 0;
		margin-left: 0;
		margin-right: 100px;
		opacity: 1;
	}
	50% {
		width: 100px;
		margin-left: 0;
		margin-right: 0;
		opacity: 0;
	}
	50.1% {
		width: 0;
		margin-left: 100px;
		margin-right: 0;
		opacity: 1;
	}
	100% {
		width: 100px;
		margin-left: 0;
		margin-right: 0;
		opacity: 0;
	}
}



//1px~768px
@media (min-width: 1px) {

	.page-content{
		padding-bottom: 30px;
	}

	.row .col{
		width: 100%;
		max-width: 400px;;
	}

	.cards .card{

		margin: 10px;

		&-head{
			flex-direction: column;
			margin: 0 0 10px;

			.card-img-top{				
				$icon-size: 80px;
	
				height: $icon-size;
				width: $icon-size;
			}

			&-text {

				text-align: center;
				width: 100%;
				margin: 30px 0 20px 0;
				padding-left: 0;

				.card-title{
					font-size: 28px;
				}
			}
		}
	}

	.time-event-content .container .time-events .time-event-year{
		.time-event-info{
			margin-left: $time-event-dot-space-right - 5px;
		}
		.time-event-date{
			left: -$time-event-dot-space-left + 5px;
		}
	}
	

	.hoverable-btn{
		
		background-color: rgba($main-color, 0.5);
		color: $font-g-light1;

		transition: none;

		&:hover{
			//none;
		}
	}
}

//768px~
@media (min-width: 768px) {

	.page-content{
		padding-bottom: 60px;
	}

	.row .col{
		width: 500px;
		max-width: 500px;;
	}	

	.cards .card{

		padding: 20px;
		margin: 30px;

		&-head{
			flex-direction: row;
			margin: 0 0 30px;
			
			.card-img-top{				
				$icon-size: 100px;
	
				height: $icon-size;
				width: $icon-size;
			}

			&-text {
				text-align: left;
				width: 100%;
				margin: 0;
				padding-left: 20px;

				.card-title{
					font-size: 32px;
				}
			}
		}
	}

	.hoverable-btn{

		background-color: rgba($main-color, 0.15);
		color: $font-m-light1;

		box-shadow: 0 0 0 0px rgba($main-color, 0);

		transition: background-color, color, box-shadow;
		transition-duration: 0.4s;

		&:hover{
			background-color: rgba($main-color, 0.5);
			color: $font-g-light1;

			box-shadow: 0 0 0 4px rgba($main-color, 0.1);
		}
	}

}