<!DOCTYPE html>
<html lang="zh-TW" prefix="og:http://ogp.me/ns#">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Owen Sun</title>
        <link rel="Shortcut Icon" type="image/x-icon" href="pic/Owen%20Icon.png" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

        <link href="css/main.css" rel="stylesheet" type="text/css">
        <script src="js/vue.min.js"></script>

    </head>

    <body>

        <div id="app">

            <div class="topdiv">
                <div class="container">
                    <div class="author">
                        <div class="author-picture">
                            <img v-bind:src="author.picture" />
                        </div>
                        <h1 class="author-title font-color-g-dark1">{{author.title}}</h1>
                        <h2 class="author-subtitle font-color-g-dark2">{{author.subtitle}}</h2>
                        <p class="author-content font-color-g-dark2">{{author.content}}</p>
                        <div calss="info">
                            <div class="info-item" v-for="itemAuthorInfo in author.info">
                                <img class="info-item-img" v-bind:src="itemAuthorInfo.picture" />
                                <p class="info-item-p font-color-g-dark2">{{itemAuthorInfo.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row cards">

                    <div class="col-lg-4 mb-6" v-for="(item,index) in collections">
                        <div class="card">
                            <div class="card-img-top embed-responsive embed-responsive-16by9" v-if="item.video!=''">
                                <iframe class="embed-responsive-item" v-bind:src="item.video"></iframe>
                            </div>
                            <img class="card-img-top" v-bind:src="item.picture"  v-if="item.picture!=''"/>
                            <div class="card-body">
                                <h1 class="card-title">{{item.title}}</h1>
                                <h2 class="card-subtitle font-color-g-light3">{{item.subtitle}}</h2>
                                <div class="card-text font-color-g-dark2">
                                    <p v-for="itemContent in item.content.split('\n')">{{itemContent}}</p>
                                </div>
                            </div>
                            <a v-bind:href="itemLink.link" target="_blank" v-for="itemLink in item.links">
                                <div class="card-btn">{{itemLink.title}}
                                </div>
                            </a>
                        </div>
                    </div>

                </div>


                <div class="bottomdiv">
                    <p class="font-color-g-dark3">往未來邁進</p>
                </div>

            </div>
        </div>


    </body>
    <script src="js/main.js"></script>

</html>
