html,
body {
    background-color: #bfb8ac;
}

.card {
    border-width: 0px;
}

.cards .card{
    box-shadow: 0 0 20px rgba(#000, 0.1);
    
}

.topdiv {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 50px;
    .card {
        background-color: transparent;
    }
}


.bottomdiv{
    text-align: center;
    padding:20px 0;
}

.card-btn{
    display: inline-block;
    width:100%;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding:20px;
}